
<!-- <p>Find me in app/views/questions/answer.html.erb</p> -->


<div class="banner">
  <h1>Stupid Coach</h1>
  <a><strong><%= @answer %></strong></a>
  <a>- You</a>
</div>

<div class="banner">
  <a><strong><%= @test %></strong></a>
  <a>- Your coach</a>
</div>

<%= link_to 'Ask a new question', ask_path %>
